# Neon Films Analysis of Audience Movie Preferences

## Step 1: Data Collection

#### A. Load list of movies

In [8]:
import pandas as pd

try:
    # load excel file
    movies_list = pd.read_excel("data/movies.xlsx")
    print("File loaded successfully.")

except Exception as e:
    # handle errors
    print(f"Error loading file: {e}")

File loaded successfully.

In [16]:
movies_list.head()

                title
0  The Age of Adaline
1     Black Christmas
2              London
3             Twisted
4   Friends with Kids

In [10]:
print('Number of movies:', movies_list.size)

Number of movies: 150

#### B. Fetch data from OMDB API

In [11]:
import requests
import time

# OMDB API Key
OMDB_API_KEY = "c0c5b16c"

In [27]:
# Function: get_omdb_data_title
# Description: gets data from OMDP API for movie title
# Input: movie title (str)
# Output: dict containing movie data if successful, otherwise None
# Example Usage: movie_data = get_omdb_data_title("Inception")
def get_omdb_data_title(title):
    try:
        # request data from OMDP API
        url = f"http://www.omdbapi.com/?t={title}&apikey={OMDB_API_KEY}"
        response = requests.get(url)
        data = response.json()
        # if response is recieved
        if data.get("Response") == "True":
            return {
                "title": data.get("Title"),
                "year": data.get("Year"),
                "rated": data.get("Rated"),
                "runtime": data.get("Runtime"),
                "imdb_rating": data.get("imdbRating"),
                "imdb_votes": data.get("imdbVotes"),
                "box_office": data.get("BoxOffice"),
                "released": data.get("Released"),
                "genre": data.get("Genre"),
                "director": data.get("Director"),
                "writer": data.get("Writer"),
                "actors": data.get("Actors"),
                "plot": data.get("Plot"),
                "language": data.get("Language"),
                "country": data.get("Country"),
                "awards": data.get("Awards"),
                "poster": data.get("Poster"),
                "metascore": data.get("Metascore"),
                "ratings": data.get("Ratings")
            }
        else:
            return None
    # handle errors
    except Exception as e:
        print(f"Error: {e}")
        return None

In [28]:
# get_omdb_data_from_title test 
movie_data = get_omdb_data_title("Inception")
if movie_data:
    print(movie_data)
else:
    print("Movie data not found.")

{'title': 'Inception', 'year': '2010', 'rated': 'PG-13', 'runtime': '148 min', 'imdb_rating': '8.8', 'imdb_votes': '2,645,456', 'box_office': '$292,587,330', 'released': '16 Jul 2010', 'genre': 'Action, Adventure, Sci-Fi', 'director': 'Christopher Nolan', 'writer': 'Christopher Nolan', 'actors': 'Leonardo DiCaprio, Joseph Gordon-Levitt, Elliot Page', 'plot': 'A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O., but his tragic past may doom the project and his team to disaster.', 'language': 'English, Japanese, French', 'country': 'United States, United Kingdom', 'awards': 'Won 4 Oscars. 159 wins & 220 nominations total', 'poster': 'https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg', 'metascore': '74', 'ratings': [{'Source': 'Internet Movie Database', 'Value': '8.8/10'}, {'Source': 'Rotten Tomatoes', 'Value': '87%'}, {'Source': 'Metacritic', 'Value': '74/100'}]}

In [29]:
# Function: get_omdb_data_dataframe
# Description: gets data from OMDP API for dataframe
# Input: list of movies (dataframe), delay in seconds between API requests (int)
# Output: dataframe containing data for each movie in the input if successful, otherwise None
# Example Usage: movies_df = get_omdb_data_dataframe(movies_list, delay=1)
def get_omdb_data_dataframe(df, delay=1):
    # store data for each movie
    omdb_data = []
    # go through movie list
    for i, title in enumerate(df["title"]):
        print(f"Getting data of movie {i+1}/{len(df)}: {title}")
        try:
            # get data for each movie
            data = get_omdb_data_from_title(title)
            if data:
                omdb_data.append(data)
        except Exception as e:
            print(f"Error fetching data for '{title}': {e}")
        finally:
            # set delay to avoid API rate limits
            time.sleep(delay)

    # convert list to dataframe
    omdb_df = pd.DataFrame(omdb_data)
    return omdb_df

In [30]:
import os

# define excel file path to store omdb data
omdb_path = "data/omdp_data.xlsx"

# If the Excel file does not exist, fetch data and save it to the file
if not os.path.exists(omdb_path):
    print("Fetching data from OMDB API...")
    movies_df = get_omdb_data_dataframe(movies_list, delay=1)
    print(f"Saving data to {omdb_path}...")
    try:
        movies_df.to_excel(omdb_path, index=False)
        print(f"Data saved successfully to {omdb_path}.")
    except Exception as e:
        print(f"Error saving {omdb_path}: {e}")

Fetching data from OMDB API...
Getting data of movie 1/150: The Age Of Adaline
Getting data of movie 2/150: Black Christmas
Getting data of movie 3/150: London
Getting data of movie 4/150: Twisted
Getting data of movie 5/150: Friends With Kids
Getting data of movie 6/150: Ken Park
Getting data of movie 7/150: Girls Trip
Getting data of movie 8/150: The Art Of The Steal
Getting data of movie 9/150: Macbeth
Getting data of movie 10/150: Fatherhood
Getting data of movie 11/150: London Has Fallen
Getting data of movie 12/150: Anthropoid
Getting data of movie 13/150: Me, Myself & Irene
Getting data of movie 14/150: The Last Face
Getting data of movie 15/150: The Fly
Getting data of movie 16/150: A Quiet Place
Getting data of movie 17/150: God'S Not Dead 2
Getting data of movie 18/150: Marvel One-Shot: Agent Carter
Getting data of movie 19/150: Hamlet 2
Getting data of movie 20/150: Where The Truth Lies
Getting data of movie 21/150: Ashby
Getting data of movie 22/150: Jaws
Getting data of movie 23/150: Ricochet
Getting data of movie 24/150: Middle Men
Getting data of movie 25/150: Secretary
Getting data of movie 26/150: The Merchant Of Venice
Getting data of movie 27/150: Dad'S Army
Getting data of movie 28/150: Ginger & Rosa
Getting data of movie 29/150: Blood Diamond
Getting data of movie 30/150: Georgetown
Getting data of movie 31/150: Hotel Transylvania 3: Summer Vacation
Getting data of movie 32/150: The Wizard Of Oz
Getting data of movie 33/150: Marvin'S Room
Getting data of movie 34/150: Horse Girl
Getting data of movie 35/150: The Taking Of Deborah Logan
Getting data of movie 36/150: Sheena
Getting data of movie 37/150: Song To Song
Getting data of movie 38/150: Pay The Ghost
Getting data of movie 39/150: The Peacemaker
Getting data of movie 40/150: Psycho Iii
Getting data of movie 41/150: The Art Of Self-Defense
Getting data of movie 42/150: Ninja Assassin
Getting data of movie 43/150: Bad Hair Day
Getting data of movie 44/150: Justice League: Doom
Getting data of movie 45/150: Dead Again
Getting data of movie 46/150: Mechanic: Resurrection
Getting data of movie 47/150: Highlander: Endgame
Getting data of movie 48/150: The Hunting Party
Getting data of movie 49/150: Certain Women
Getting data of movie 50/150: The Post
Getting data of movie 51/150: My Favorite Martian
Getting data of movie 52/150: Ferngully: The Last Rainforest
Getting data of movie 53/150: Lethal Weapon 4
Getting data of movie 54/150: The Fourth Protocol
Getting data of movie 55/150: Special Correspondents
Getting data of movie 56/150: Now You See Me 2
Getting data of movie 57/150: Dead Space: Downfall
Getting data of movie 58/150: Bedtime Stories
Getting data of movie 59/150: The Presidio
Getting data of movie 60/150: Red Shoes And The Seven Dwarfs
Getting data of movie 61/150: Paradise Hills
Getting data of movie 62/150: Justice League: Gods And Monsters
Getting data of movie 63/150: Black Butterfly
Getting data of movie 64/150: Saving Mr. Banks
Getting data of movie 65/150: Elegy
Getting data of movie 66/150: Welcome To Marwen
Getting data of movie 67/150: Berberian Sound Studio
Getting data of movie 68/150: Frankenweenie
Getting data of movie 69/150: The Haunting Of Sharon Tate
Getting data of movie 70/150: Unknown
Getting data of movie 71/150: Power Rangers
Getting data of movie 72/150: Summer Of 84
Getting data of movie 73/150: Moonrise Kingdom
Getting data of movie 74/150: The Departed
Getting data of movie 75/150: Let Me In
Getting data of movie 76/150: Brightburn
Getting data of movie 77/150: Alpha
Getting data of movie 78/150: Love The Coopers
Getting data of movie 79/150: The Turning
Getting data of movie 80/150: The Tree Of Life
Getting data of movie 81/150: Gandhi
Getting data of movie 82/150: World'S Greatest Dad
Getting data of movie 83/150: Blow The Man Down
Getting data of movie 84/150: Lifeforce
Getting data of movie 85/150: The Adventures Of Bullwhip Griffin
Getting data of movie 86/150: Red Dawn
Getting data of movie 87/150: The Last Song
Getting data of movie 88/150: Someone Great
Getting data of movie 89/150: One Chance
Getting data of movie 90/150: The Weather Man
Getting data of movie 91/150: Austin Powers In Goldmember
Getting data of movie 92/150: Down Periscope
Getting data of movie 93/150: Open Water
Getting data of movie 94/150: Borat
Getting data of movie 95/150: Bliss
Getting data of movie 96/150: Valmont
Getting data of movie 97/150: Stronger
Getting data of movie 98/150: The Dustwalker
Getting data of movie 99/150: The Princess Switch
Getting data of movie 100/150: Freaks Of Nature
Getting data of movie 101/150: Night Of The Creeps
Getting data of movie 102/150: Jaws: The Revenge
Getting data of movie 103/150: The Irishman
Getting data of movie 104/150: Dog Day Afternoon
Getting data of movie 105/150: Shame
Getting data of movie 106/150: Shark Bait
Getting data of movie 107/150: Shark Tale
Getting data of movie 108/150: Ordinary People
Getting data of movie 109/150: The Incredibles
Getting data of movie 110/150: Dumplin'
Getting data of movie 111/150: Ghostbusters
Getting data of movie 112/150: The Enforcer
Getting data of movie 113/150: Chatroom
Getting data of movie 114/150: Bride Wars
Getting data of movie 115/150: How Do You Know
Getting data of movie 116/150: Bottle Rocket
Getting data of movie 117/150: Over The Hedge
Getting data of movie 118/150: Land Of The Lost
Getting data of movie 119/150: The Shaggy Dog
Getting data of movie 120/150: He'S Just Not That Into You
Getting data of movie 121/150: Rush Hour 3
Getting data of movie 122/150: Before I Go To Sleep
Getting data of movie 123/150: Toy Story 2
Getting data of movie 124/150: Blue Thunder
Getting data of movie 125/150: The Sweet Hereafter
Getting data of movie 126/150: Chernobyl Diaries
Getting data of movie 127/150: Never Been Kissed
Getting data of movie 128/150: Gold Dust
Getting data of movie 129/150: If Beale Street Could Talk
Getting data of movie 130/150: Bambi
Getting data of movie 131/150: Ferris Bueller'S Day Off
Getting data of movie 132/150: Spies Like Us
Getting data of movie 133/150: Critters
Getting data of movie 134/150: Reservoir Dogs
Getting data of movie 135/150: Good Kill
Getting data of movie 136/150: Semi-Pro
Getting data of movie 137/150: Searching For Bobby Fischer
Getting data of movie 138/150: Night Of The Living Dead
Getting data of movie 139/150: Heat
Getting data of movie 140/150: The Host
Getting data of movie 141/150: I Kill Giants
Getting data of movie 142/150: Harley Davidson And The Marlboro Man
Getting data of movie 143/150: Junebug
Getting data of movie 144/150: The Phantom
Getting data of movie 145/150: A Hidden Life
Getting data of movie 146/150: National Treasure: Book Of Secrets
Getting data of movie 147/150: I Am Mother
Getting data of movie 148/150: Awake
Getting data of movie 149/150: Book Of Dragons
Getting data of movie 150/150: What The Health
Saving data to data/omdp_data.xlsx...
Data saved successfully to data/omdp_data.xlsx.

In [77]:
# load movies_df from excel file
omdb_path = "data/omdp_data.xlsx"
try:
    print(f"Loading data from {omdb_path}...")
    movies_df = pd.read_excel(omdb_path)
    print("Successfully loaded.")
except Exception as e:
    print(f"Error loading {omdb_path}: {e}")
    movies_df = pd.DataFrame()

Loading data from data/omdp_data.xlsx...
Successfully loaded.

In [78]:
# check loaded dataframe
movies_df.head()

,Title,Year,Rated,Runtime,IMDB_Rating,IMDB_Votes,Box_Office,Released,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Metascore,Ratings
0,The Age of Adaline,2015,PG-13,112 min,7.2,"212,877","$42,629,776",24 Apr 2015,"Drama, Fantasy, Romance",Lee Toland Krieger,"J. Mills Goodloe, Salvador Paskowitz","Blake Lively, Michiel Huisman, Harrison Ford","A young woman, born at the turn of the 20th ce...","English, Portuguese, Italian","United States, Canada",1 win & 10 nominations,https://m.media-amazon.com/images/M/MV5BMTAzMT...,51.0,"[{'Source': 'Internet Movie Database', 'Value'..."
1,Black Christmas,1974,R,98 min,7.1,"50,352",NaN,20 Dec 1974,"Horror, Mystery, Thriller",Bob Clark,Roy Moore,"Olivia Hussey, Keir Dullea, Margot Kidder","During their Christmas break, a group of soror...","English, Latin",Canada,3 wins & 2 nominations,https://m.media-amazon.com/images/M/MV5BZjdiMz...,65.0,"[{'Source': 'Internet Movie Database', 'Value'..."
2,London,2005,R,92 min,6.3,"25,119","$20,361",03 Jul 2021,"Drama, Romance",Hunter Richards,Hunter Richards,"Jessica Biel, Chris Evans, Jason Statham","At a drug laden party in a New York loft, a yo...",English,"United Kingdom, United States",1 win & 1 nomination total,https://m.media-amazon.com/images/M/MV5BMTc5Mz...,24.0,"[{'Source': 'Internet Movie Database', 'Value'..."
3,Twisted,2004,R,97 min,5.3,"23,599","$25,198,598",27 Feb 2004,"Crime, Drama, Mystery",Philip Kaufman,Sarah Thorp,"Ashley Judd, Samuel L. Jackson, Andy Garcia","Jessica, whose father killed her mother and co...","English, Italian, Spanish","United States, Germany",1 win,https://m.media-amazon.com/images/M/MV5BMGJhNj...,26.0,"[{'Source': 'Internet Movie Database', 'Value'..."
4,Friends with Kids,2011,R,107 min,6.1,"43,369","$7,251,073",16 Mar 2012,"Comedy, Drama, Romance",Jennifer Westfeldt,Jennifer Westfeldt,"Jennifer Westfeldt, Adam Scott, Maya Rudolph",Two best friends decide to have a child togeth...,English,United States,2 nominations,https://m.media-amazon.com/images/M/MV5BMjIyMD...,55.0,"[{'Source': 'Internet Movie Database', 'Value'..."

In [79]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        150 non-null    object
 1   Year         150 non-null    int64
 2   Rated        147 non-null    object
 3   Runtime      150 non-null    object
 4   IMDB_Rating  150 non-null    float64
 5   IMDB_Votes   150 non-null    object
 6   Box_Office   115 non-null    object
 7   Released     150 non-null    object
 8   Genre        150 non-null    object
 9   Director     150 non-null    object
 10  Writer       150 non-null    object
 11  Actors       150 non-null    object
 12  Plot         150 non-null    object
 13  Language     149 non-null    object
 14  Country      150 non-null    object
 15  Awards       128 non-null    object
 16  Poster       150 non-null    object
 17  Metascore    131 non-null    float64
 18  Ratings      150 non-null    object
dtypes: float64(2), int64(1), object(16)
memory usage: 22.4+ KB

#### C. Fetch data from Google Trends

In [87]:
# initialize trendspy
from trendspy import Trends
tr = Trends(request_delay=10.0)

In [81]:
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

# Function: get_googletrends_data_title
# Description: gets data from google trends for movie title
# Input: trendspy instance, movie title (str), movie release date (str)
# Output: total number of searches up to one year after movie release date (int)
# Example Usage: num_searches = get_googletrends_data_title(tr, 'inception', '16 Jul 2010')
def get_googletrends_data_title(tr, movie_title, release_date):
    try:
        # convert release date to datetime format
        release_datetime = datetime.strptime(release_date, "%d %b %Y")
        # get date for one year later
        one_year_later = release_datetime + relativedelta(years=1)
        one_year_later_strftime = one_year_later.strftime("%Y-%m-%d")

        # timeframe string
        timeframe = f'{one_year_later_strftime} 1-y'

        # get number of movie searches
        interest_data = tr.interest_over_time(movie_title, timeframe=timeframe)

        if not interest_data.empty:
            # get total number of searches in timeframe
            total_searches = interest_data[movie_title].sum()
            return total_searches
        else:
            return 0
    except Exception as e:
        print(f"Error fetching data for '{movie_title}': {e}")
        return 0

In [88]:
# get_googletrends_data_title test 
movie_data = get_omdb_data_title("Inception")
num_searches = get_googletrends_data_title(tr, 'inception', '16 Jul 2010')
print(num_searches)

890

In [129]:
# Function: get_googletrends_data_dataframe
# Description: gets data from google trends for dataframe
# Input: search_cache (dict) stores fetched data, movies dataframe, delay to avoid api rate limits
# Output: dataframe containing number of searches for each movie
# Example Usage: num_searches_df = get_googletrends_data_dataframe(movies_df)
def get_googletrends_data_dataframe(search_cache, movies_df, delay=1):
    # list to store results
    results = []

    # iterate over each movie in dataframe
    for i, row in movies_df.iterrows():
        title = row['Title']
        # remove ':' from titles to prevent error in fetching data
        modified_title = title.replace(":", "")
        release_date = row['Released']

        print(f"Getting data of movie {i + 1}/{len(movies_df)}: {title}")
        
        # check to see if we already have the number of searches
        if title in search_cache:
            print(f"Using cached data for '{title}'")
            num_searches = search_cache[title]
            
        else:
            try:
                # get total searches for the movie
                num_searches = get_googletrends_data_title(tr, modified_title, release_date)
                # store in cache
                if(num_searches > 0):
                    search_cache[title] = num_searches
            except Exception as e:
                print(f"Error fetching data for '{title}': {e}")
                num_searches = 0
            

        # add to results
        results.append({"Title": title, "Num_Searches": num_searches})
        
        # add delay to avoid api rate limits
        time.sleep(delay)

    # convert to dataframe
    searches_df = pd.DataFrame(results)
    return searches_df

In [131]:
# find movies released after 2006
before06 = movies_df[movies_df['Year'] < 2006]
before06_count = before06.shape[0]
print(f'movies released before 2006: {before06_count}')

movies released before 2006: 56

In [132]:
# seperate movies released after 2006
movies_df_06 = movies_df[movies_df['Year'] > 2006]
movies_df_06_reset = movies_df_06.reset_index(drop=True)

In [133]:
movies_df_06_reset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        88 non-null     object
 1   Year         88 non-null     int64
 2   Rated        85 non-null     object
 3   Runtime      88 non-null     object
 4   IMDB_Rating  88 non-null     float64
 5   IMDB_Votes   88 non-null     object
 6   Box_Office   56 non-null     object
 7   Released     88 non-null     object
 8   Genre        88 non-null     object
 9   Director     88 non-null     object
 10  Writer       88 non-null     object
 11  Actors       88 non-null     object
 12  Plot         88 non-null     object
 13  Language     87 non-null     object
 14  Country      88 non-null     object
 15  Awards       72 non-null     object
 16  Poster       88 non-null     object
 17  Metascore    72 non-null     float64
 18  Ratings      88 non-null     object
dtypes: float64(2), int64(1), object(16)
memory usage: 13.2+ KB

In [134]:
movies_df_06_reset.head()

,Title,Year,Rated,Runtime,IMDB_Rating,IMDB_Votes,Box_Office,Released,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Metascore,Ratings
0,The Age of Adaline,2015,PG-13,112 min,7.2,"212,877","$42,629,776",24 Apr 2015,"Drama, Fantasy, Romance",Lee Toland Krieger,"J. Mills Goodloe, Salvador Paskowitz","Blake Lively, Michiel Huisman, Harrison Ford","A young woman, born at the turn of the 20th ce...","English, Portuguese, Italian","United States, Canada",1 win & 10 nominations,https://m.media-amazon.com/images/M/MV5BMTAzMT...,51.0,"[{'Source': 'Internet Movie Database', 'Value'..."
1,Friends with Kids,2011,R,107 min,6.1,"43,369","$7,251,073",16 Mar 2012,"Comedy, Drama, Romance",Jennifer Westfeldt,Jennifer Westfeldt,"Jennifer Westfeldt, Adam Scott, Maya Rudolph",Two best friends decide to have a child togeth...,English,United States,2 nominations,https://m.media-amazon.com/images/M/MV5BMjIyMD...,55.0,"[{'Source': 'Internet Movie Database', 'Value'..."
2,Girls Trip,2017,R,122 min,6.2,"41,464","$115,171,585",21 Jul 2017,"Adventure, Comedy, Drama",Malcolm D. Lee,"Erica Rivinoja, Kenya Barris, Tracy Oliver","Regina Hall, Queen Latifah, Jada Pinkett Smith",When four lifelong friends travel to New Orlea...,English,"United States, Canada, China",13 wins & 42 nominations total,https://m.media-amazon.com/images/M/MV5BMjMwNT...,71.0,"[{'Source': 'Internet Movie Database', 'Value'..."
3,The Art of the Steal,2013,R,90 min,6.3,"26,330","$64,065",18 Jun 2014,"Comedy, Crime, Thriller",Jonathan Sobol,Jonathan Sobol,"Kurt Russell, Jay Baruchel, Katheryn Winnick","Crunch Calhoun, a semi-reformed art thief, agr...","English, Spanish","Canada, United States",5 nominations,https://m.media-amazon.com/images/M/MV5BNjUxNj...,53.0,"[{'Source': 'Internet Movie Database', 'Value'..."
4,Macbeth,2015,R,113 min,6.6,"60,210","$1,110,707",11 Dec 2015,"Drama, History, War",Justin Kurzel,"Todd Louiso, Jacob Koskoff, Michael Lesslie","Michael Fassbender, Marion Cotillard, Jack Mad...","Macbeth, the Thane of Glamis, receives a proph...",English,"United Kingdom, France",3 wins & 29 nominations total,https://m.media-amazon.com/images/M/MV5BNzgyND...,71.0,"[{'Source': 'Internet Movie Database', 'Value'..."

In [ ]:
# Initialize a dictionary to cache search results
search_cache = {}

In [135]:
# if you get TOO many errors when fetching google trends data, ONLY run this cell again
# DO NOT INITIALIZE SEARCH_CACHE AGAIN!!

# define excel file path to store googletrends data
googletrends_path = "data/googletrends_data.xlsx"
googletrends_df = get_googletrends_data_dataframe(search_cache, movies_df_06_reset, delay=1)
print(f"Saving data to {googletrends_path}...")
try:
    googletrends_df.to_excel(googletrends_path, index=False)
    print(f"Data saved successfully to {googletrends_path}.")
except Exception as e:
    print(f"Error saving {googletrends_path}: {e}")

Getting data of movie 1/88: The Age of Adaline
Using cached data for 'The Age of Adaline'
Getting data of movie 2/88: Friends with Kids
Using cached data for 'Friends with Kids'
Getting data of movie 3/88: Girls Trip
Using cached data for 'Girls Trip'
Getting data of movie 4/88: The Art of the Steal
Using cached data for 'The Art of the Steal'
Getting data of movie 5/88: Macbeth
Using cached data for 'Macbeth'
Getting data of movie 6/88: Fatherhood
Using cached data for 'Fatherhood'
Getting data of movie 7/88: London Has Fallen
Using cached data for 'London Has Fallen'
Getting data of movie 8/88: Anthropoid
Using cached data for 'Anthropoid'
Getting data of movie 9/88: The Last Face
Using cached data for 'The Last Face'
Getting data of movie 10/88: A Quiet Place
Using cached data for 'A Quiet Place'
Getting data of movie 11/88: God's Not Dead 2
Using cached data for 'God's Not Dead 2'
Getting data of movie 12/88: Marvel One-Shot: Agent Carter
Getting data of movie 13/88: Hamlet 2
Using cached data for 'Hamlet 2'
Getting data of movie 14/88: Ashby
Using cached data for 'Ashby'
Getting data of movie 15/88: Middle Men
Using cached data for 'Middle Men'
Getting data of movie 16/88: Dad's Army
Using cached data for 'Dad's Army'
Getting data of movie 17/88: Georgetown
Using cached data for 'Georgetown'
Getting data of movie 18/88: Hotel Transylvania 3: Summer Vacation
Getting data of movie 19/88: Horse Girl
Using cached data for 'Horse Girl'
Getting data of movie 20/88: The Taking of Deborah Logan
Using cached data for 'The Taking of Deborah Logan'
Getting data of movie 21/88: Song to Song
Using cached data for 'Song to Song'
Getting data of movie 22/88: Pay the Ghost
Using cached data for 'Pay the Ghost'
Getting data of movie 23/88: The Art of Self-Defense
Using cached data for 'The Art of Self-Defense'
Getting data of movie 24/88: Ninja Assassin
Using cached data for 'Ninja Assassin'
Getting data of movie 25/88: Bad Hair Day
Using cached data for 'Bad Hair Day'
Getting data of movie 26/88: Justice League: Doom
Getting data of movie 27/88: Mechanic: Resurrection
Getting data of movie 28/88: The Hunting Party
Using cached data for 'The Hunting Party'
Getting data of movie 29/88: Certain Women
Using cached data for 'Certain Women'
Getting data of movie 30/88: The Post
Using cached data for 'The Post'
Getting data of movie 31/88: Special Correspondents
Using cached data for 'Special Correspondents'
Getting data of movie 32/88: Now You See Me 2
Using cached data for 'Now You See Me 2'
Getting data of movie 33/88: Dead Space: Downfall
Getting data of movie 34/88: Bedtime Stories
Using cached data for 'Bedtime Stories'
Getting data of movie 35/88: Red Shoes and the Seven Dwarfs
Using cached data for 'Red Shoes and the Seven Dwarfs'
Getting data of movie 36/88: Paradise Hills
Using cached data for 'Paradise Hills'
Getting data of movie 37/88: Justice League: Gods and Monsters
Getting data of movie 38/88: Black Butterfly
Using cached data for 'Black Butterfly'
Getting data of movie 39/88: Saving Mr. Banks
Using cached data for 'Saving Mr. Banks'
Getting data of movie 40/88: Elegy
Using cached data for 'Elegy'
Getting data of movie 41/88: Welcome to Marwen
Using cached data for 'Welcome to Marwen'
Getting data of movie 42/88: Berberian Sound Studio
Using cached data for 'Berberian Sound Studio'
Getting data of movie 43/88: Frankenweenie
Using cached data for 'Frankenweenie'
Getting data of movie 44/88: The Haunting of Sharon Tate
Using cached data for 'The Haunting of Sharon Tate'
Getting data of movie 45/88: Unknown
Using cached data for 'Unknown'
Getting data of movie 46/88: Power Rangers
Using cached data for 'Power Rangers'
Getting data of movie 47/88: Summer of 84
Using cached data for 'Summer of 84'
Getting data of movie 48/88: Moonrise Kingdom
Using cached data for 'Moonrise Kingdom'
Getting data of movie 49/88: Let Me In
Using cached data for 'Let Me In'
Getting data of movie 50/88: Brightburn
Using cached data for 'Brightburn'
Getting data of movie 51/88: Alpha
Using cached data for 'Alpha'
Getting data of movie 52/88: Love the Coopers
Using cached data for 'Love the Coopers'
Getting data of movie 53/88: The Turning
Using cached data for 'The Turning'
Getting data of movie 54/88: The Tree of Life
Using cached data for 'The Tree of Life'
Getting data of movie 55/88: World's Greatest Dad
Getting data of movie 56/88: Blow the Man Down
Using cached data for 'Blow the Man Down'
Getting data of movie 57/88: Red Dawn
Using cached data for 'Red Dawn'
Getting data of movie 58/88: The Last Song
Using cached data for 'The Last Song'
Getting data of movie 59/88: Someone Great
Using cached data for 'Someone Great'
Getting data of movie 60/88: One Chance
Using cached data for 'One Chance'
Getting data of movie 61/88: Bliss
Using cached data for 'Bliss'
Getting data of movie 62/88: Stronger
Using cached data for 'Stronger'
Getting data of movie 63/88: The Dustwalker
Using cached data for 'The Dustwalker'
Getting data of movie 64/88: The Princess Switch
Using cached data for 'The Princess Switch'
Getting data of movie 65/88: Freaks of Nature
Using cached data for 'Freaks of Nature'
Getting data of movie 66/88: The Irishman
Using cached data for 'The Irishman'
Getting data of movie 67/88: Shame
Using cached data for 'Shame'
Getting data of movie 68/88: Shark Bait
Using cached data for 'Shark Bait'
Getting data of movie 69/88: Dumplin'
Using cached data for 'Dumplin''
Getting data of movie 70/88: Chatroom
Using cached data for 'Chatroom'
Getting data of movie 71/88: Bride Wars
Using cached data for 'Bride Wars'
Getting data of movie 72/88: How Do You Know
Using cached data for 'How Do You Know'
Getting data of movie 73/88: Land of the Lost
Using cached data for 'Land of the Lost'
Getting data of movie 74/88: He's Just Not That Into You
Using cached data for 'He's Just Not That Into You'
Getting data of movie 75/88: Rush Hour 3
Using cached data for 'Rush Hour 3'
Getting data of movie 76/88: Before I Go to Sleep
Using cached data for 'Before I Go to Sleep'
Getting data of movie 77/88: Chernobyl Diaries
Using cached data for 'Chernobyl Diaries'
Getting data of movie 78/88: Gold Dust
Using cached data for 'Gold Dust'
Getting data of movie 79/88: If Beale Street Could Talk
Using cached data for 'If Beale Street Could Talk'
Getting data of movie 80/88: Good Kill
Using cached data for 'Good Kill'
Getting data of movie 81/88: Semi-Pro
Using cached data for 'Semi-Pro'
Getting data of movie 82/88: I Kill Giants
Using cached data for 'I Kill Giants'
Getting data of movie 83/88: A Hidden Life
Using cached data for 'A Hidden Life'
Getting data of movie 84/88: National Treasure: Book of Secrets
Getting data of movie 85/88: I Am Mother
Using cached data for 'I Am Mother'
Getting data of movie 86/88: Awake
Using cached data for 'Awake'
Getting data of movie 87/88: Book of Dragons
Using cached data for 'Book of Dragons'
Getting data of movie 88/88: What the Health
Using cached data for 'What the Health'
Saving data to data/googletrends_data.xlsx...
Data saved successfully to data/googletrends_data.xlsx.

In [136]:
search_cache

{'The Age of Adaline': 1233,
 'Friends with Kids': 1443,
 'Girls Trip': 681,
 'The Art of the Steal': 1132,
 'Macbeth': 2745,
 'Fatherhood': 357,
 'London Has Fallen': 866,
 'Anthropoid': 1836,
 'The Last Face': 3052,
 'A Quiet Place': 670,
 "God's Not Dead 2": 652,
 'Hamlet 2': 727,
 'Ashby': 3516,
 'Middle Men': 1301,
 "Dad's Army": 1165,
 'Georgetown': 4678,
 'Horse Girl': 1532,
 'The Taking of Deborah Logan': 1578,
 'Song to Song': 4654,
 'Pay the Ghost': 887,
 'The Art of Self-Defense': 339,
 'Ninja Assassin': 1214,
 'Bad Hair Day': 1628,
 'The Hunting Party': 848,
 'Certain Women': 2462,
 'The Post': 2284,
 'Special Correspondents': 408,
 'Now You See Me 2': 1239,
 'Bedtime Stories': 639,
 'Red Shoes and the Seven Dwarfs': 2108,
 'Paradise Hills': 2263,
 'Black Butterfly': 2443,
 'Saving Mr. Banks': 987,
 'Elegy': 1983,
 'Welcome to Marwen': 384,
 'Berberian Sound Studio': 1087,
 'Frankenweenie': 1479,
 'The Haunting of Sharon Tate': 1212,
 'Unknown': 2760,
 'Power Rangers': 1092,
 'Summer of 84': 936,
 'Moonrise Kingdom': 1417,
 'Let Me In': 2647,
 'Brightburn': 605,
 'Alpha': 4178,
 'Love the Coopers': 721,
 'The Turning': 1509,
 'The Tree of Life': 1491,
 'Blow the Man Down': 1090,
 'Red Dawn': 825,
 'Someone Great': 658,
 'One Chance': 2579,
 'Bliss': 3232,
 'Stronger': 3284,
 'The Dustwalker': 772,
 'The Princess Switch': 481,
 'Freaks of Nature': 814,
 'The Irishman': 437,
 'Shame': 2696,
 'Shark Bait': 1448,
 "Dumplin'": 587,
 'Chatroom': 3341,
 'Bride Wars': 1080,
 'How Do You Know': 4009,
 'Land of the Lost': 876,
 "He's Just Not That Into You": 100,
 'Before I Go to Sleep': 1228,
 'Chernobyl Diaries': 1068,
 'Gold Dust': 2862,
 'If Beale Street Could Talk': 830,
 'Good Kill': 2696,
 'Semi-Pro': 992,
 'I Kill Giants': 647,
 'A Hidden Life': 1423,
 'I Am Mother': 465,
 'Awake': 2463,
 'Book of Dragons': 1107,
 'What the Health': 3927,
 'The Last Song': 1340,
 'Rush Hour 3': 712,
 'Marvel One-Shot Agent Carter': 446,
 'Hotel Transylvania 3 Summer Vacation': 1549,
 'Justice League Doom': 747,
 'Mechanic Resurrection': 1062,
 'Dead Space Downfall': 798,
 'Justice League Gods and Monsters': 646,
 'National Treasure Book of Secrets': 488,
 'Marvel One-Shot: Agent Carter': 446,
 'Hotel Transylvania 3: Summer Vacation': 1549,
 'Justice League: Doom': 747,
 'Mechanic: Resurrection': 1062,
 'Dead Space: Downfall': 798,
 'Justice League: Gods and Monsters': 646,
 'National Treasure: Book of Secrets': 488}

In [137]:
googletrends_df

                                 Title  Num_Searches
0                   The Age of Adaline          1233
1                    Friends with Kids          1443
2                           Girls Trip           681
3                 The Art of the Steal          1132
4                              Macbeth          2745
..                                 ...           ...
83  National Treasure: Book of Secrets           488
84                         I Am Mother           465
85                               Awake          2463
86                     Book of Dragons          1107
87                     What the Health          3927

[88 rows x 2 columns]

In [139]:
zero_count = (googletrends_df['Num_Searches'] == 0).sum()
print(f"failed to fetch data for {zero_count} movies")
failed_movies = googletrends_df[googletrends_df['Num_Searches'] == 0]
print('Movies without data:')
print(failed_movies)

failed to fetch data for 1 movies
Movies without data:
                   Title  Num_Searches
54  World's Greatest Dad             0

In [140]:
# load googletrends_df from excel file
googletrends_path = "data/googletrends_data.xlsx"
try:
    print(f"Loading data from {googletrends_path}...")
    googletrends_df = pd.read_excel(googletrends_path)
    print("Successfully loaded.")
except Exception as e:
    print(f"Error loading {googletrends_path}: {e}")
    googletrends_df = pd.DataFrame()

Loading data from data/googletrends_data.xlsx...
Successfully loaded.

In [141]:
googletrends_df

                                 Title  Num_Searches
0                   The Age of Adaline          1233
1                    Friends with Kids          1443
2                           Girls Trip           681
3                 The Art of the Steal          1132
4                              Macbeth          2745
..                                 ...           ...
83  National Treasure: Book of Secrets           488
84                         I Am Mother           465
85                               Awake          2463
86                     Book of Dragons          1107
87                     What the Health          3927

[88 rows x 2 columns]

## Step 2: Data Cleaning and Preperation

#### A. Merge data from both APIs

In [142]:
# make sure titles are in the same format
movies_df["Title"] = movies_df["Title"].str.title()
googletrends_df["Title"] = googletrends_df["Title"].str.title()

# merge dataframes on movie title
merged_df = pd.merge(movies_df, googletrends_df, on="Title", how="left")

# fill missing number of searches with 0
merged_df["Num_Searches"] = merged_df["Num_Searches"].fillna(0)

In [143]:
merged_df.head()

,Title,Year,Rated,Runtime,IMDB_Rating,IMDB_Votes,Box_Office,Released,Genre,Director,Writer,Actors,Plot,Language,Country,Awards,Poster,Metascore,Ratings,Num_Searches
0,The Age Of Adaline,2015,PG-13,112 min,7.2,"212,877","$42,629,776",24 Apr 2015,"Drama, Fantasy, Romance",Lee Toland Krieger,"J. Mills Goodloe, Salvador Paskowitz","Blake Lively, Michiel Huisman, Harrison Ford","A young woman, born at the turn of the 20th ce...","English, Portuguese, Italian","United States, Canada",1 win & 10 nominations,https://m.media-amazon.com/images/M/MV5BMTAzMT...,51.0,"[{'Source': 'Internet Movie Database', 'Value'...",1233.0
1,Black Christmas,1974,R,98 min,7.1,"50,352",NaN,20 Dec 1974,"Horror, Mystery, Thriller",Bob Clark,Roy Moore,"Olivia Hussey, Keir Dullea, Margot Kidder","During their Christmas break, a group of soror...","English, Latin",Canada,3 wins & 2 nominations,https://m.media-amazon.com/images/M/MV5BZjdiMz...,65.0,"[{'Source': 'Internet Movie Database', 'Value'...",0.0
2,London,2005,R,92 min,6.3,"25,119","$20,361",03 Jul 2021,"Drama, Romance",Hunter Richards,Hunter Richards,"Jessica Biel, Chris Evans, Jason Statham","At a drug laden party in a New York loft, a yo...",English,"United Kingdom, United States",1 win & 1 nomination total,https://m.media-amazon.com/images/M/MV5BMTc5Mz...,24.0,"[{'Source': 'Internet Movie Database', 'Value'...",0.0
3,Twisted,2004,R,97 min,5.3,"23,599","$25,198,598",27 Feb 2004,"Crime, Drama, Mystery",Philip Kaufman,Sarah Thorp,"Ashley Judd, Samuel L. Jackson, Andy Garcia","Jessica, whose father killed her mother and co...","English, Italian, Spanish","United States, Germany",1 win,https://m.media-amazon.com/images/M/MV5BMGJhNj...,26.0,"[{'Source': 'Internet Movie Database', 'Value'...",0.0
4,Friends With Kids,2011,R,107 min,6.1,"43,369","$7,251,073",16 Mar 2012,"Comedy, Drama, Romance",Jennifer Westfeldt,Jennifer Westfeldt,"Jennifer Westfeldt, Adam Scott, Maya Rudolph",Two best friends decide to have a child togeth...,English,United States,2 nominations,https://m.media-amazon.com/images/M/MV5BMjIyMD...,55.0,"[{'Source': 'Internet Movie Database', 'Value'...",1443.0

In [145]:
zero_count = (merged_df['Num_Searches'] == 0).sum()
print(f"{zero_count} movies without search counts.")

63 movies without search counts.